<h1>Welcome to my Blog</h1>
<p>Hi, welcome to out blog page.</p>

<%= link_to "Create a Post", new_article_path %>
<hr >

<% @articles.each do |article| %>
  <div>
    <strong>Post : </strong> <%= article.title %>
    <br>
    <%= link_to 'Show post', article %>
  </div>
  <br>
<% end %>