<h1>Welcome to my Blog</h1>
<p>Hi, welcome to out blog page.</p>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>
