
<h1 align="center"> Developer Blog </h1>

<% @articles.each do |article| %>
  <div>
    <h4 class="mb-0"> <%= link_to '& ' + article.title, article, class: 'link' %> </h4>
    <small class="text-mute"><%= article.created_at.to_formatted_s(:nice) %></small>

    <div><%= article.body %></div>
  </div>
<% end %>