<nav>
  <%= link_to 'Home', '/', class: (request.path == '/' ? 'active' : '') %>
  <%= link_to 'Contact us', new_contact_path, class: (request.path == new_contact_path ? 'active' : '') %>
  <%= link_to 'Create Article', new_article_path, class: (request.path == new_article_path ? 'active' : '') %>
</nav>